<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{ root }} &ndash; quick url shortener</title>
    </head>
    <body>
        Your quick link <a href="https://{{ root }}">[back]</a>
        <pre>
<a href="https://{{ root }}/{{ key }}" target="_blank">https://{{ root }}/{{ key }}</a>

Now you can to save or to distribute this link over the internet.
        </pre>
    </body>
</html>
